@import "tailwindcss";

@theme {
  /* Liaison dynamique des variables CSS de la charte */
  --color-brand-slate: var(--bg-primary);
  --color-brand-slatelight: var(--bg-secondary);
  --color-brand-ivory: var(--text-primary);
  --color-brand-accent: var(--color-accent); /* Or dynamique qui s'adapte aux deux modes */
  
  --color-brand-green: #2c4a3e;
  --color-brand-greenlight: #3d6354;

  --font-serif: "Lora", serif;
  --font-sans: "Plus Jakarta Sans", sans-serif;
}

/* 1. Ambiance Chai (Sombre - Actif par défaut) */
:root {
  --bg-primary: #121614;
  --bg-secondary: #1b211d;
  --text-primary: #f4f4f0;
  --color-accent: #c5a880; /* Or laiton brossé brillant pour l'ambiance cave sombre */
}

/* 2. Ambiance Vigne (Clair - Vert Lichen Brumeux & Argile Mat - 0 % Éblouissement) */
html.theme-vigne {
  --bg-primary: #768271;        /* Vert lichen très sourd, mat et profond (supprime tout reflet agressif) */
  --bg-secondary: #5E6A59;     /* Vert mousse plus sombre et terreux pour dessiner proprement les cartes */
  --text-primary: #F4F4F0;     /* Blanc ivoire chaud très doux pour une lecture et une édition reposante */
  --color-accent: #E5C592;     /* Sable doré chaud et lumineux qui ressort magnifiquement sur le fond lichen */
}

body {
  overflow-x: hidden;
  transition: background-color 0.5s ease, color 0.5s ease;
}